{% extends "layout.njk" %}
{% block SEO %}
    {{SEO | safe}}
{% endblock %}
{% block body %}
    <script>
    {
        "url_schema": "/index",
        "controller": "http://127.0.0.1:7001/index.js",
        "viewName": "index"
    }
    </script>
{% endblock %}
