<!DOCTYPE html>
<html lang="{{locale}}">
<head>
    <title>{{title | safe}}</title>
    {% block SEO %}

    {% endblock %}

    <script
        type="text/javascript"
        src="http://127.0.0.1:7001/index.js"
        async
    ></script>
</body>
</html>
